/* VIVO */
@font-face {
    font-family: 'VivoType';
    src: url('./Vivo/VivoTypeRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'VivoType';
    src: url('./Vivo/VivoTypeBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'VivoType';
    src: url('./Vivo/VivoTypeLight.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }

  /* Telefonica Sans */
@font-face {
  font-family: 'Telefonica Sans';
  src: url('./Telefonica Sans/General use/Telefonica Sans Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Telefonica Sans';
  src: url('./Telefonica Sans/General use/Telefonica Sans Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Telefonica Sans';
  src: url('./Telefonica Sans/General use/Telefonica Sans Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Telefonica Sans';
  src: url('./Telefonica Sans/General use/Telefonica Sans Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}