.band {
  height: 80px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.text {
  font-size: 48px;
  white-space: nowrap;
  display: inline-block;
}
