.transition {
  opacity: 0;
  animation: slideIn 2s cubic-bezier(0.16, 1, 0.3, 1) 0.2s forwards;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(40px);
    filter: blur(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0px);
  }
}

/* Additional styles for the Onboarding component */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 35px;
}

.progress-bar {
  width: 750px;
}

.title-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 76px;
  gap: 16px;
}

.buttons {
  display: flex;
  gap: 16px;
  margin-top: 32px;
  justify-content: center;
}
