.band {
  height: 80px;
  border: 3px solid #000;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  align-self: bottom;
  padding: 0 32px;
}

.text {
  font-size: 48px;
  white-space: nowrap;
  display: inline-block;
}
