.rotating {
  animation: rotate 16s linear infinite;
  transform-origin: center;
  width: max-content;
}

.rotatingInverse {
  animation: rotate 8s linear infinite reverse;
  transform-origin: center;
}

.rotating.paused {
  animation-play-state: paused;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
