.containerMobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  min-width: 100%;
  scroll-snap-align: start;
  overflow: hidden;
  position: relative;
}

.containerDesktop {
  min-height: 100vh;
  min-width: 100%;
  position: relative;
}
