@import "https://cdn.jsdelivr.net/npm/mistica-css@4.2.1/css/telefonica.css";

body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
        align-items: center;
}

#table{
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    color: var(--textPrimary);
}

#consDescription {
    color: var(--textSecondary);
}

