.palette {
    display: flex;
    gap: 1rem;
    margin: 0 auto;
  }
  
  .palette table {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    width: 100%;
  }

  .palette table td{
    padding: 0.5rem 0.25rem;
    vertical-align: middle;

  }

  .palette table td:first-child{
    max-width: 360px;

  }
  
  .palette table tr:not(:last-child) {

   border-bottom: 1px solid #ccc;
  }
  
  .palette th {
    padding: 1rem 0.5rem;
    text-align: left;
  }
  

  .selected {
    background-color: #ccc;
  }
 

  code{
    background-color: #eeeeee;
    padding: 0.25rem;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    font-family: "Fira Code", monospace;
  }

