.container{
  display: inline-flex;
  padding: 0 8px 0 4px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: 999px;
  font-size: 14px;
  height: 28px;
  box-sizing: border-box;
}
.circleBorder{
  border: 1px solid rgb(156, 156, 156);
}

.circleContainer {
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
}