.container {
  height: 500vh;
}

.content {
  position: sticky;
  top: 0;
  height: 100vh;
  border: 1px solid red;
  overflow: hidden;
}

.scroll {
  position: absolute;
  top: 0;
  height: 100%;
  width: 500vw;
  will-change: transform;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8rem;
  gap: 4rem;
  z-index: 2;
}

.mobileBackground {
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% + 32px);
  margin: -96px -16px 0 -16px;
}

.desktopBackground {
  position: relative;
  height: calc(100% + 16rem);
  margin: 0 -100vw;
}

.desktopBackground svg {
  position: absolute;
  left: 0;
  top: 0;
}
