.content {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: hidden;
}

.scroll {
  position: absolute;
  top: 0;
  height: 100%;
  width: 200vw;
  will-change: transform;
  display: flex;
  justify-content: space-between;
  padding: 8rem;
  gap: 4rem;
  z-index: 2;
}

.mobileBackground {
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% + 32px);
  margin: -96px -16px 0 -16px;
  height: calc(100% + 96px);
}

.desktopBackground {
  position: relative;
  height: calc(100% + 16rem);
  margin: 0 -100vw;
}

.desktopBackground svg {
  position: absolute;
  left: 0;
  top: 0;
}

.contributors {
  text-align: center;
  padding: 24px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
