.mobileBackground {
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% + 32px);
  margin: -96px -16px 0 -16px;
  height: calc(100% + 96px);
  z-index: 0;
  rotate: 180deg;
}

.titleSize {
  max-width: 64ch;
}

.contributors {
  text-align: center;
  padding: 24px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-width: 75vw;
  align-items: center;
  z-index: 1;
}

.iconsMobile {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.icon {
  z-index: 1;
}
