.candy-crush {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .right-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
} */

form > .candy-crush {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 65px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 8px;
  width: 100%;
  max-width: 70vh;
  aspect-ratio: 1;
  padding: 16px;
  box-sizing: border-box;
}

.grid div {
  background-size: cover;
  background-position: center;
  width: 100%;
  aspect-ratio: 1;
  transition: transform 0.3s ease-in-out;
}

.dragging {
  opacity: 0.4;
  transform: scale(0.5);
}

.invalid-move {
  animation: shake 0.3s ease;
}

/* Animación para intercambiar posiciones */
@keyframes swap {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(
      100%,
      100%
    ); /* Ejemplo de cómo mover de un lugar a otro */
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
}

.square.shake {
  animation: shake 0.5s ease-in-out;
}

.drop {
  animation: drop 0.3s cubic-bezier(0.4, 0, 1, 1);
}

@keyframes drop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes disappear {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.disappear {
  animation: disappear 0.8s ease forwards;
}

/* Animación para filas o columnas de 3 o 4 elementos */
@keyframes clearRowOrColumn {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}

/* Clase para aplicar la animación */
.clear-animation {
  animation: clearRowOrColumn 0.5s ease-out forwards;
}
