.container {
  display: flex;
  padding: 0 8px 0 4px;
  font-family: "Menlo", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  gap: 8px;
  margin-bottom: 8px;
}
.circleBorder {
  border: 1px solid rgb(156, 156, 156);
}

.circleContainer {
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
}
