.weightSelected {
  border: 1px solid blue;
}

.weightStyle {
  width: 60px;
  height: 60px;
  background-color: white;
  font-size: 28px;
  cursor: pointer;
}

.typo-card {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
  padding: 32px;
  margin: 40px auto;
  border: 1px solid lightgrey;
  border-radius: 32px;
  max-width: fit-content;
}
