/* Layout Principal */
.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-top: 35px;
  }
  
  .progress-bar {
	width: 750px;
  }
  
  .title-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 76px;
	gap: 16px;
  }
  
  /* Card Principal */
  .color-card {
	display: grid;
	grid-template-columns: 1fr 2fr; /* Primera columna 1/3, segunda 2/3 */
	gap: 32px;
	padding: 32px;
	margin: 40px auto;
	border: 1px solid lightgrey;
	border-radius: 32px;
	max-width: 840px;
  }
  
  /* Columna Brand (izquierda) */
  .primary-child {
	height: 100%;
	display: flex;
	flex-direction: column;
  }
  
  .primary-child .each-color {
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 16px;
  }
  
  .primary-child .color-preview {
	flex-grow: 1;
	width: 100%;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  /* Columna Derecha (Secundarios y Neutrales) */
  .right-col {
	display: flex;
	flex-direction: column;
	gap: 32px;
  }
  
  /* Grid de Colores Secundarios */
  .secondary-child {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 24px;
  }
  
  /* Grid de Colores Neutrales */
  .neutral-child {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 24px;
  }
  
  /* Estilos comunes para cada color */
  .each-color {
	display: flex;
	flex-direction: column;
	gap: 8px;
  }
  
  .color-preview {
	aspect-ratio: 1;
	width: 100%;
	border-radius: 8px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .text {
	display: flex;
	flex-direction: column;
	gap: 4px;
  }
  
  /* Botones inferiores */
  .buttons {
	display: flex;
	gap: 16px;
	margin-top: 32px;
	justify-content: center;
  }