/* Layout Principal */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 35px;
}

.progress-bar {
  width: 750px;
}

.title-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 76px;
  gap: 16px;
}

/* Columna Brand (izquierda) */
.primary-child {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.primary-child .each-color {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.primary-child .color-preview {
  flex-grow: 1;
  width: 100%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-preview {
  min-height: 104px;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.colorCard {
  height: 100%;
  width: 100%;
}

.colorCard > div {
  height: calc(100% - 48px);
  width: 100%;
}

/* Botones inferiores */
.buttons {
  display: flex;
  gap: 16px;
  margin-top: 32px;
  justify-content: center;
}
